<div class="project-header">
  <h1>Zoneless Demo v19</h1>
  <p>Demonstrates Angular without Zone.js </p>

</div>

<div style="margin-bottom:16px;">
  <button (click)="select('forms')">Forms Demo (Check/Patching Phase)</button>
  <button (click)="select('coalesce')">Coalescing Microtasks Demo</button>
  <button (click)="select('tree')">Component Tree Demo (Default)</button>
  <button (click)="select('tree-onpush')">Component Tree Demo (OnPush)</button>
  <button (click)="select('tree-onpush-new')">Async Pipe & Signals Demo</button>
  <button (click)="select('async-signals')">Cards Demo</button>

</div>

<div class="phase-controls" *ngIf="view==='forms'">
  <div class="phase-buttons">
    <button (click)="isRefreshPhase = false" class="phase-btn check-phase" [class.active]="!isRefreshPhase">
      Check Phase
    </button>
    <button (click)="isRefreshPhase = true" class="phase-btn refresh-phase" [class.active]="isRefreshPhase">
      Patching Phase
    </button>
  </div>
</div>

<div #appContainer class="block" *ngIf="view==='forms'">
  <div class="content-section">
    <p>AppComponent</p>
    <app-parent [isRefreshPhase]="isRefreshPhase"></app-parent>
  </div>
  <div class="test-section">
    <app-mouse-test [isRefreshPhase]="isRefreshPhase"></app-mouse-test>
    <app-timer [isRefreshPhase]="isRefreshPhase"></app-timer>
  </div>
</div>



<div #appContainer class="block" *ngIf="view==='coalesce'">
  <div class="content-section">
    <p>AppComponent</p>
    <app-coalescing-demo></app-coalescing-demo>
  </div>
</div>

<div #appContainer class="block" *ngIf="view==='tree'">
  <div class="content-section">
    <p>AppComponent</p>
    <app-tree-demo></app-tree-demo>
  </div>
</div>

<div #appContainer class="block" *ngIf="view==='tree-onpush'">
  <div class="content-section">
    <p>AppComponent</p>
    <app-tree-onpush-demo></app-tree-onpush-demo>
  </div>
</div>

<div #appContainer class="block" *ngIf="view==='tree-onpush-new'">
  <div class="content-section">
    <p>AppComponent</p>
    <app-tree-onpush-demo-new></app-tree-onpush-demo-new>
  </div>
</div>

<div #appContainer class="block" *ngIf="view==='async-signals'">
  <div class="content-section">
    <p>AppComponent</p>
    <app-async-signals-demo></app-async-signals-demo>
  </div>
</div>